body{
font-family: "Inter Tight", sans-serif;
color: #141414;
}
a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0%;
}

.container {
   width: 100%;
   margin: 0 auto;
   padding: 0 20px;
}
@media screen and (min-width: 375px) {
    .container {
            max-width: 375px;
        }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
       max-width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
    }
}


.how-it-works{
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0px;
        width: 375px;
            height: 1184px;
}
@media screen and (min-width: 768px) {
.how-it-works{
    width: 768px;
        height: 1539px;
}
}
 @media screen and (min-width: 1280px) {
.how-it-works{
    flex-direction: row;
    min-width: 1280px;
}
 }


.how-it-works-section-first {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
}
@media screen and (min-width: 375px) {
.how-it-works-section-first {
       
        width: 375px;
    }
}

    @media screen and (min-width: 768px) {
.how-it-works-section-first {
    width: 768px;
}
    }

    @media screen and (min-width: 1280px) {
.how-it-works-section-first {
    width: 1280px;
  }
    }


.hiw-img-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    padding: 40px 20px;
    width: 375px;
    background-color: #7a3145;

}
 @media screen and (min-width: 768px) {
.hiw-img-container {
    padding: 100px 64px;
        width: 768px;
    }
 }
 @media screen and (min-width: 1280px) {
.hiw-img-container {
    padding: 100px;
        width: 630px;
        }
    }


.hiw-image {
    border-radius: 30px;
    width: 335px;
    box-shadow: rgba(20, 20, 20, 0.3);
}
 @media screen and (min-width: 768px) {
.hiw-image {
    border-radius: 30px;
        width: 640px;
}
 }
  @media screen and (min-width: 1280px) {
.hiw-image {
    border-radius: 30px;
        width: 430px;
    }
  }


.hiw-container{
display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 335px;
}
 @media screen and (min-width: 768px) {
.hiw-container {
    gap: 50px;
    width: 450px;
}
 }

 @media screen and (min-width: 1280px) {
.hiw-container {
    gap: 50px;
        width: 450px;
}
     }


  .how-it-works-section-second{
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    padding: 80px 20px;
    width: 375px;
    height: 654px;
    background: #576f35;
  }
   @media screen and (min-width: 768px) {
.how-it-works-section-second {
gap: 10px;
padding: 100px 159px;
    width: 768px;
    height: 699px;
}
}
    @media screen and (min-width: 1280px) {
.how-it-works-section-second {
gap: 10px;
padding: 100px 100px 160px 100px;
    width: 650px;
    height: 759px;
}
 }

.hiw-text-container {
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 335px;
    height: 186px;
    margin: 0 auto;
}
 @media screen and (min-width: 768px) {
.hiw-text-container {
    gap: 25px;
    width: 450px;
    height: 181px;
    align-items: center;
}
 }

     @media screen and (min-width: 1280px) {
    .hiw-text-container {
gap: 25px;
width: 450px;
height: 181px;
align-items: center;
    }
     }

.hiw-title {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
}
 @media screen and (min-width: 768px) {
.hiw-title {
font-size: 32px;
}
 }
@media screen and (min-width: 1280px) {
.hiw-title {
font-size: 32px;
}
}
.hiw-title-span {
    color: rgba(251, 251, 251, 0.3);
}

.hiw-subtitle {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;
}
 @media screen and (min-width: 768px) {
    .hiw-subtitle {
    font-size: 16px;
    line-height: 1.25;
    }
 }

 @media screen and (min-width: 1280px) {
    .hiw-subtitle {
            font-size: 16px;
            line-height: 1.25;
            margin-bottom: 50px;
    }
 }

.hiw-block-container{
margin-top: 40px;
}

 @media screen and (min-width: 768px) {
.hiw-block-container {
margin-top: 50px;
margin: auto;
    }
 }

@media screen and (min-width: 1280px) {
.hiw-block-container {
margin-top: 50px;
margin: auto;
    }
}
.hiw-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
     padding: 0;
}
ol{
    counter-reset: li;
    list-style: none;
}
li::before{
    counter-increment: ol;
    content: counter(li,"1") "1";
color: #000;
}

.hiw-list-items {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 12px 27px 12px 24px;
    width: 335px;
    height: 76px;
    background-color: #fbfbfb;
    position: relative;
        padding-left: 30px;
        margin-bottom: 15px;

}
 @media screen and (min-width: 768px) {
.hiw-list-items {
width: 450px;
}
 }

@media screen and (min-width: 1280px) {
.hiw-list-items {
    width: 450px;
}
}
.hiw-number {
        position: absolute;
        left: 0;
        top: 0;
        width: 52px;
        height: 52px;
        background-color:#7a3145;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        margin-right: 24px;
}
.hiw-items-text {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.6);
}


.hiw-items-span {
    font-weight: 700;
    color: #141414;
}



